/* login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://images.pexels.com/photos/1421903/pexels-photo-1421903.jpeg') center/cover no-repeat fixed;
}

.login-box {
    width: 100%;
    max-width: 400px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(224, 224, 224, 0.2);
    height: 40rem;
}

.login-title {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-field {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.form-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s;
}

.form-input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
}

.login-button {
    width: 100%;
    padding: 12px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(https://i.pinimg.com/736x/12/88/da/1288da5c09a003c280cbdfbc14f8a44c.jpg) center/cover;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #2980b9;
}