.header {
    background-color: black;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%; 
    

        background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(https://images.pexels.com/photos/1335971/pexels-photo-1335971.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center/cover;  
}

.TituloH {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-shadow: 5px 5px 5px 5px white;

}